@import "../../scss/settings/colors";

header{
    width: 100%;
    height: 60px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $grey-main-color;

    nav{
        width: 400px;
    }
    
    nav > ul{
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
            cursor: pointer;
        }
    }
}